body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 250px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.content {
    flex: 1;
    height: 100%;
    padding: 20px;
    margin-top: 85px;
    overflow-wrap: break-word;
}

.toggle-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 1000;
    background-color: transparent;
    transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.toggle-btn span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
    transition: transform 0.3s ease;
}

.toggle-btn.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.toggle-btn.active span:nth-child(2) {
    opacity: 0;
}

.toggle-btn.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.sidebar.active {
    transform: translateX(0);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

a {
    display: block;
    width: 100%;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    background-color: #fcfcfc;
}

a.in {
    color: #007bff;
    background-color: #f0f0f0;
}

a:hover {
    color: #007bff;
    background-color: #f0f0f0;
}

.hide {
    display: none;
}

.code-in {
    background-color: white;
    border-radius: 5px;
    padding: 3px;
}

.code-json {
    font-family: "Courier New", monospace;
    font-size: 14px;
    color: #333;
    background-color: #f5f5f5;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    overflow-x: auto;
}